.datagrid {
    width: 100%;
    border-collapse: collapse;
}
.datagrid th {
    text-align: left;
    user-select: none;
    cursor: pointer;
    font-size: 15px;
    color: #333;
    padding: 0px 5px 5px;
}
.category-column {
    width: 110px;
}
.quantity-column {
    width: 110px;
}
.datagrid td {
    border: 1px solid #ddd;
    padding: 0px 10px;
    font-size: 15px;
    color: #333;
}
.datagrid td:first-child {
    width: 10px;
}
.datagrid tbody tr:hover {
    background: #eee;
}
.sort-icon {
    font-size: 12px;
    margin-left: 10px;
    display: inline-block;
}
.btn-delete {
    background: #ce0000;
    color: #fff;
    display: inline-block;
    padding: 3px 5px;
    cursor: pointer;
    user-select: none;
}
.control-panel input {
    padding-left: 27px;
    padding-right: 27px;
}
.control-panel button {
    width: 30%;
    float: right;
}
.search-box {
    position: relative;
    width: 70%;
    float: left;
}
.search-box .icon {
    position: absolute;
    top: 9px;
    padding: 0px;
    color: #636363;
}
.control-panel .icon {
    position: absolute;
}
.control-panel .icon.search {
    left: 7px;
}
.control-panel .icon.clear {
    right: 7px;
}
.control-panel {
    margin-bottom: 25px;
}
.search-options {
    margin-top: 10px;
}
.search-options label {
    margin-right: 10px;
}