body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content {
  max-width: 1080px;
  margin: 35px auto;
}
.icon {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
}
.float-right {
    float: right;
}
.Modal {
  position: absolute;
  top: 25%;
  left: 50%;
  right: 'auto';
  bottom: 'auto';
  margin-right:-50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 450px;
  padding: 10px;
  border-radius: 5px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
}
button {
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  display: inline-block;
}
button.btn-submit {
  background: #25b900;
  color: #fff;
}
button.btn-submit.danger {
  background: #ce0000;
}
button.btn-cancel {
  background: #ddd;
}
input:not([type="checkbox"]),
select,
textarea {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 10px 15px;
  box-sizing: border-box;
}
textarea {
  resize: vertical;
}
input:focus {
  outline: none;
}
.form-group {
  margin-bottom: 15px;
}
label {
  user-select: none;
}
.form-group label {
  width: 100%;
  margin-bottom: 3px;
  display: inline-block;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}